<!doctype html>
<html>
<head>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- ACA se incluyen los css de todo. desde la carpeta static -->
    <!-- 
        <link rel="stylesheet" href='/static/css/base.css'>
        <link rel="stylesheet" href='/static/css/login/login.css'>
    -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>VeTE</title>
</head>

<body>
    <header class="cabecera">
        <div>VeTE</div>
    </header>

    <section class="contenido">
        {% block content %} {% endblock %}
    </section>

    <footer class="pie">
        <div>
            <div class="footerPrincipal"><b>Monkeys</b> | Veterinaria Monkeys | Calle 6 Nº 777</div>
            <div class="footerAlternativo">  <b>El Carpincho Gigante</b> | Sistemas </div>
        </div>
        <div>Versión: <b>{{version}}</b></div>
        {% block footer %} {% endblock %}
    </footer>
</body>
</html>