{% extends "base.html" %}
{% block content %}
<div class="pantalla">
    <div class="contenedor">
        <div class="iconoMensaje"> <i class="large material-icons">error_outline</i> </div>
        <div class="titulos"><B>SE HA PRODUCIDO UN ERROR</B></div>
        <div class="mensaje">Por favor intente nuevamente... </div>
        <div class="detalleMensaje">
            <span>Detalle del error</span><br>
            <b>{{ error }}</b><br>
            <span>Versión</span><br>
            <b>{{ version }}</b><br>
        </div>
    </div>
</div>
{% endblock %}